body.darktheme {
    background-color: #2e3440;
    color: white;
}
h1.darktheme, h2.darktheme, h3.darktheme{
    color: white;
}
a.darktheme {
    color: #81a1c1
}
.themetoggle {
    position: fixed;
    bottom: 2%;
    right: 2%;
    color: white;
}